name: LINT-TEST-VLASOVA-TM
on:
  push:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install -r server/requirements.txt
      - run: pylint server/application.py

  unit-tests:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install -r server/requirements.txt
      - run: pytest server/test_application.py --junitxml=junit/test-results.xml

  build-test:
    needs: [ lint, unit-tests ]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: docker build -t test-image ./server --file ./server/dockerfile
      - run: docker run -d --name app-server -p 8000:8000 --restart unless-stopped test-image
      - run: sleep 5
      - run: docker ps -a
      - run: sleep 5
      - run: curl http://127.0.0.1:8000
